h1 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin: 16px;
}

.insumo-form {
  width: 100%;
  height: 100dvh;
}

.insumo-check {
  display: none;
}

.searching-area {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 16px 0;
  gap: 12px;

  .searching-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    grid-column: 1/2;
    padding: 0 16px;
  }

  .insumo-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .boton-trabajadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  select,
  input {
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100%;
    max-height: 40px;
    font-family: inherit;
    font-size: 1.6rem;
    &:focus {
      outline: none;
      // border-color: #007bff;
    }
  }

  button {
    font-family: inherit;
    font-size: 1.6rem;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: #fa812f;
    &:hover {
      background-color: #ffb22c;
    }
  }

  .boton-trabajadores {
    background-color: #670d2f;
    color: white;
    &:hover {
      background-color: #a53860;
    }
  }
}

.insumo-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 0;
  row-gap: 16px;
  padding: 16px;
  place-items: center;

  label {
    padding: 8px;
    border: none;
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.45);
    width: clamp(100px, 80%, 600px);
    height: 100px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    border-radius: 6px;
    text-align: center;
  }

  label:hover {
    cursor: pointer;
  }

  label:has(input:checked) {
    background-color: #4f1c51;
    color: white;
  }
}

.popup,
.overlay {
  display: none;
}

.show-popup {
  min-width: 250px;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  h3 {
    font-size: 3rem;
    grid-column: 1/3;
    align-self: center;
    margin-bottom: 16px;
  }

  label {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    span {
      font-size: 2rem;
    }

    input {
      font-family: inherit;
      font-size: 1.8rem;
      padding: 12px;
      border-radius: 8px;
      appearance: none;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  button {
    font-family: inherit;
    font-size: 1.8rem;
    max-width: 100px;
    border-radius: 12px;
    padding: 8px;
    border: none;
    color: white;
  }

  #popup-ok {
    background-color: #5e936c;
  }

  #popup-close {
    background-color: #8a0000;
  }
}

.show-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@media (max-width: 800px) {
  .searching-area {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 8px;

    .searching-container {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .insumo-buttons-container {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .boton-trabajadores-container {
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  .insumo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .insumo-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .show-popup {
    label {
      h3 {
        font-size: 2.6rem;
      }

      span {
        font-size: 1.8rem;
      }

      input {
        font-size: 1.6rem;
        padding: 8px;
      }
    }
  }
}
