<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificar Insumos</title>
  <style>
    .selected{
      color: red;
    }
    #insumo{
      /* visibility: hidden; */
    }
  </style>
</head>
<body>
  <header>

  </header>
  <main>
    <h1>Aqui se muestran los insumos</h1>

    <form action="" id="insumo-form">

      <label for="insumo" class="insumo-name">Nombre del Insumo</label>
      <input type="checkbox" id="insumo" class="insumo-check">

    </form>
  </main>
  <footer>

  </footer>
  <script type="module" src="../app/insumos.js"></script>
</body>
</html>