<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificar Insumos</title>
  <style>
    .selected{
      color: white;
      background-color: blue;
    }
    .insumo-check{
      visibility: hidden;
    }
    #insumo-form{
      height: auto;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, auto);
      gap: 8px;
    }
    .insumo-name{
      padding: 4px;
      border: 1px solid blueviolet;
      width: fit-content;
    }
  </style>
</head>
<body>
  <header>

  </header>
  <main>
    <h1>Aqui se muestran los insumos</h1>

    <form action="" id="insumo-form">

      
      

    </form>
  </main>
  <footer>

  </footer>
  <script type="module" src="../app/insumos.js"></script>
</body>
</html>